@import "bootstrap/scss/bootstrap.scss";
// @import "./partials/_variables.scss" ;
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

body{
    background-color: #0c3469;

    color: #fff;
    font-family: 'Fredoka One', cursive;

   
}